-- AlterEnum
ALTER TYPE "tenant"."ContainerStatus" ADD VALUE 'RECEIVING';

-- DropIndex
DROP INDEX "tenant"."document_sequences_point_of_sale_prefix_key";

-- AlterTable
ALTER TABLE "tenant"."sales_flow_settings" ADD COLUMN     "allow_backorder_without_stock" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "allow_partial_stock_reservation" BOOLEAN NOT NULL DEFAULT true,
ADD COLUMN     "reserve_stock_on_order_confirmation" BOOLEAN NOT NULL DEFAULT true;

-- CreateTable
CREATE TABLE "tenant"."stock_reservations" (
    "id" UUID NOT NULL,
    "warehouse_id" UUID NOT NULL,
    "product_id" UUID NOT NULL,
    "quantity_reserved" DECIMAL(12,3) NOT NULL,
    "quantity_consumed" DECIMAL(12,3) NOT NULL DEFAULT 0,
    "quantity_released" DECIMAL(12,3) NOT NULL DEFAULT 0,
    "status" VARCHAR(30) NOT NULL DEFAULT 'ACTIVE',
    "reservation_type" VARCHAR(30) NOT NULL DEFAULT 'SALES_ORDER',
    "source_type" VARCHAR(30),
    "source_id" UUID,
    "source_item_id" UUID,
    "party_id" UUID,
    "reason" TEXT,
    "expires_at" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6),
    "deleted_at" TIMESTAMP(3),
    "created_by" UUID,
    "updated_by" UUID,

    CONSTRAINT "stock_reservations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tenant"."stock_reservation_allocations" (
    "id" UUID NOT NULL,
    "reservation_id" UUID NOT NULL,
    "document_id" UUID NOT NULL,
    "quantity" DECIMAL(12,3) NOT NULL,
    "status" VARCHAR(20) NOT NULL DEFAULT 'CONSUMED',
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reversed_at" TIMESTAMP(6),
    "created_by" UUID,

    CONSTRAINT "stock_reservation_allocations_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "stock_reservations_warehouse_id_product_id_status_idx" ON "tenant"."stock_reservations"("warehouse_id", "product_id", "status");

-- CreateIndex
CREATE INDEX "stock_reservations_source_type_source_id_idx" ON "tenant"."stock_reservations"("source_type", "source_id");

-- CreateIndex
CREATE INDEX "stock_reservations_source_item_id_idx" ON "tenant"."stock_reservations"("source_item_id");

-- CreateIndex
CREATE INDEX "stock_reservations_expires_at_status_idx" ON "tenant"."stock_reservations"("expires_at", "status");

-- CreateIndex
CREATE INDEX "stock_reservation_allocations_document_id_status_idx" ON "tenant"."stock_reservation_allocations"("document_id", "status");

-- CreateIndex
CREATE INDEX "stock_reservation_allocations_reservation_id_idx" ON "tenant"."stock_reservation_allocations"("reservation_id");

-- CreateIndex
CREATE INDEX "document_sequences_point_of_sale_prefix_idx" ON "tenant"."document_sequences"("point_of_sale", "prefix");

-- AddForeignKey
ALTER TABLE "tenant"."stock_reservations" ADD CONSTRAINT "stock_reservations_warehouse_id_fkey" FOREIGN KEY ("warehouse_id") REFERENCES "tenant"."warehouses"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tenant"."stock_reservations" ADD CONSTRAINT "stock_reservations_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "tenant"."products"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tenant"."stock_reservation_allocations" ADD CONSTRAINT "stock_reservation_allocations_reservation_id_fkey" FOREIGN KEY ("reservation_id") REFERENCES "tenant"."stock_reservations"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

